.footer {
  background-color: var(--primary);
  padding: 1rem;
  color: var(--secondary);
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
