.books {
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}
ul {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin: 3rem 0;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: var(--primary);
  padding: 1.5rem 3rem;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}
